<div class="project-grid">
  <div class="project-card">
    <img src="/assets/img/playstation.png" alt="E-sports Analytics with ML" />
    <a href="/project/playstation" class="card-link no-lightbox">
      <span class="card-title">E-sports Analytics with ML</span>
    </a>
  </div>

  <div class="project-card">
    <img src="/assets/img/volks.png" alt="CRM Development and Analytics" />
    <a href="/project/volkswagen" class="card-link no-lightbox">
      <span class="card-title">CRM Development and Analytics</span>
    </a>
  </div>

  <div class="project-card">
    <img src="/assets/img/hcsc.png" alt="Customer Automation" />
    <a href="/project/hcsc" class="card-link no-lightbox">
      <span class="card-title">Customer Automation</span>
    </a>
  </div>

  <div class="project-card">
    <img src="/assets/img/diabetes.png" alt="Diabetes Project" />
    <a href="/project/diabetes" class="card-link no-lightbox">
      <span class="card-title">Diabetes Prediction</span>
    </a>
  </div>

  <div class="project-card">
    <img src="/assets/img/rag.png" alt="Agentic RAGs" />
    <a href="/project/llms" class="card-link no-lightbox">
      <span class="card-title">Agentic RAGs</span>
    </a>
  </div>

  <div class="project-card">
    <img src="/assets/img/telco.png" alt="Telecom Churn Prediction" />
    <a href="/project/telco" class="card-link no-lightbox">
      <span class="card-title">Telecom Churn Prediction</span>
    </a>
  </div>

  <div class="project-card">
    <img src="/assets/img/eyes.png" alt="Driver Sleep Detection" />
    <a href="/project/eye_detect" class="card-link no-lightbox">
      <span class="card-title">Driver Sleep Detection</span>
    </a>
  </div>

  <div class="project-card">
    <img src="/assets/img/beam_stiffness.png" alt="Beam Stiffness Prediction" />
    <a href="/project/beam_stiffness" class="card-link no-lightbox">
      <span class="card-title">Beam Stiffness Prediction</span>
    </a>
  </div>

  <div class="project-card">
    <img src="/assets/img/retail.png" alt="Retail Forecasting" />
    <a href="/project/retail" class="card-link no-lightbox">
      <span class="card-title">Retail Forecasting</span>
    </a>
  </div>
</div>
