<div class="row d-flex align-items-stretch">
  <!-- Gulmarg Image Column: 8/12 (2/3 width) -->
  <div class="col-md-6" data-aos="fade-left">
    <img
      src="/assets/more_img/gulmarg.png"
      alt="Snow"
      class="img-fluid rounded shadow"
      style="object-fit: cover; height: 100%"
    />
  </div>

  <!-- Gulmarg Text Column: 4/12 (1/3 width) -->
  <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
    <div
      class="p-3 bg-dark rounded shadow-sm text-light"
      style="object-fit: cover; height: 98%"
    >
      <h4>Gulmarg, Kashmir</h4>
      <p></p>
    </div>
  </div>

  <!-- manali Text Column: 4/12 (1/3 width) -->
  <div class="col-md-4" data-aos="fade-left" data-aos-delay="100">
    <div
      class="p-3 bg-dark rounded shadow-sm text-light"
      style="object-fit: cover; height: 98%"
    >
      <h4>Manali</h4>
      <p></p>
    </div>
  </div>

  <!-- manali Image Column: 8/12 (2/3 width) -->
  <div class="col-md-8" data-aos="fade-left">
    <img
      src="/assets/more_img/manali.png"
      alt="Birds"
      class="img-fluid rounded shadow"
      style="object-fit: cover; height: 100%"
    />
  </div>

  <!-- Lahaul Image Column: 8/12 (2/3 width) -->
  <div class="col-md-6" data-aos="fade-left">
    <img
      src="/assets/more_img/lahaul_spiti.png"
      alt="Minimalist"
      class="img-fluid rounded shadow"
      style="object-fit: cover; height: 100%"
    />
  </div>

  <!-- Lahaul Text Column: 4/12 (1/3 width) -->
  <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
    <div
      class="p-3 bg-dark rounded shadow-sm text-light"
      style="object-fit: cover; height: 98%"
    >
      <h4>Lahaul and Spiti</h4>
      <p></p>
    </div>
  </div>

  <!-- SM Text Column: 4/12 (1/3 width) -->
  <div class="col-md-4" data-aos="fade-left" data-aos-delay="100">
    <div
      class="p-3 bg-dark rounded shadow-sm text-light"
      style="object-fit: cover; height: 98%"
    >
      <h4>Stone Mountains, Atlanta</h4>
      <p></p>
    </div>
  </div>

  <!-- SM Image Column: 8/12 (2/3 width) -->
  <div class="col-md-8" data-aos="fade-left">
    <img
      src="/assets/more_img/stone_mount.png"
      alt="New Year"
      class="img-fluid rounded shadow"
      style="object-fit: cover; height: 100%"
    />
  </div>

  <!-- Forest Image Column: 8/12 (2/3 width) -->
  <div class="col-md-8" data-aos="fade-left">
    <img
      src="/assets/more_img/forest_walk.png"
      alt="Spring"
      class="img-fluid rounded shadow"
      style="object-fit: cover; height: 100%"
    />
  </div>

  <!-- Forest Text Column: 4/12 (1/3 width) -->
  <div class="col-md-4" data-aos="fade-left" data-aos-delay="100">
    <div
      class="p-3 bg-dark rounded shadow-sm text-light"
      style="object-fit: cover; height: 98%"
    >
      <h4>Agartala, Tripura</h4>
      <p></p>
    </div>
  </div>

  <!-- Khoksar Text Column: 4/12 (1/3 width) -->
  <div class="col-md-4" data-aos="fade-left" data-aos-delay="100">
    <div
      class="p-3 bg-dark rounded shadow-sm text-light"
      style="object-fit: cover; height: 98%"
    >
      <h4>Khoksar, Himachal Pradesh</h4>
      <p></p>
    </div>
  </div>

  <!-- Khoksar Image Column: 8/12 (2/3 width) -->
  <div class="col-md-8" data-aos="fade-left">
    <img
      src="/assets/more_img/khoksar.png"
      alt="Rockwell"
      class="img-fluid rounded shadow"
      style="object-fit: cover; height: 100%"
    />
  </div>

  <!-- kufri Column: 8/12 (2/3 width) -->
  <div class="col-md-8" data-aos="fade-left">
    <img
      src="/assets/more_img/kufri.png"
      alt="Vortex"
      class="img-fluid rounded shadow"
      style="object-fit: cover; height: 100%"
    />
  </div>

  <!-- kufri Column: 4/12 (1/3 width) -->
  <div class="col-md-4" data-aos="fade-left" data-aos-delay="100">
    <div
      class="p-3 bg-dark rounded shadow-sm text-light"
      style="object-fit: cover; height: 98%"
    >
      <h4>Kufri, Along the Beas</h4>
      <p></p>
    </div>
  </div>
</div>
